*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
body{
  margin-top:25px;
  font-size: 18px;
  font-weight: 500;
  color: #9e9aa7;
  font-family: "Poppins",sans-serif;
  background: #fff;
  color: #fff;

}






